.video{
    width: 100%;
    height: 100%;
   scroll-snap-start:start;
   border: 1px solid black;
    position: relative;

}
.videoCard__Player{
    object-fit: fill;
   width: 100%;
   height: 100%; 
}